/* Template: Tutor - Video Course Landing Page Template
   Author: Inovatik
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

- General Styles
- Navigation
- Header
- Description
- Description Lightboxes
- Chapters
- Summary
- Audience
- Takeaways
- Details
- Author
- About
- Testimonials
- Partners
- Newsletter
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f9fafb
- Icons, bullets, navbar - orange #fc5d66
- Buttons - yellow #ffc05a
- Headings text, buttons - dark gray #384653
- Body text - gray #6f738b
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #6f738b; 
	font: 400 1rem/1.75rem "Open Sans", sans-serif;
}

h1 {
	color: #384653;
	font: 700 2.5rem/3.25rem "Open Sans", sans-serif;
}

h2 {
	color: #384653;
	font: 700 2rem/2.625rem "Open Sans", sans-serif;
}

h3 {
	color: #384653;
	font: 700 1.5rem/2.25rem "Open Sans", sans-serif;
}

h4 {
	color: #384653;
	font: 700 1.25rem/1.875rem "Open Sans", sans-serif;
}

h5 {
	color: #384653;
	font: 700 1.125rem/1.625rem "Open Sans", sans-serif;
}

h6 {
	color: #384653;
	font: 700 1rem/1.5rem "Open Sans", sans-serif;
}

.p-large {
	font: 400 1.125rem/1.875rem "Open Sans", sans-serif;
}

.p-small {
	font: 400 0.875rem/1.625rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 4.25rem;
	text-align: center;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #6f738b;
	text-decoration: underline;
}

a:hover {
	color: #6f738b;
	text-decoration: underline;
}

.orange {
	color: #fc5d66;
}

.m-bottom-0 {
	margin-bottom: 0;
}

.m-bottom-1 {
	margin-bottom: 1rem;
}

.m-bottom-2 {
	margin-bottom: 2rem;
}

.m-bottom-3 {
	margin-bottom: 3rem;
}

.m-bottom-4 {
	margin-bottom: 4rem;
}

.m-bottom-5 {
	margin-bottom: 5rem;
}

.m-bottom-6 {
	margin-bottom: 6rem;
}

.hr-heading {
	display: inline-block;
	width: 4rem;
	height: 0.25rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	border: none;
	background-color: #fc5d66;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 0.125rem solid #ffc05a;
	border-radius: 2rem;
	background-color: #ffc05a;
	color: #384653;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 0.125rem solid #384653;
	background-color: transparent;
	color: #384653;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 0.125rem solid #ffc05a;
	border-radius: 2rem;
	background-color: #ffc05a;
	color: #384653;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 0.125rem solid #384653;
	background-color: transparent;
	color: #384653;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.25rem 2.125rem 1.25rem 2.125rem;
	border: 0.125rem solid #384653;
	border-radius: 2rem;
	background-color: transparent;
	color: #384653;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	border: 0.125rem solid #384653;
	background-color: #384653;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.5rem 2.375rem 1.5rem 2.375rem;
	border: 0.125rem solid #384653;
	border-radius: 2rem;
	background-color: transparent;
	color: #384653;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 0.125rem solid #384653;
	background-color: #384653;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 1rem 1.625rem;
	border: 0.125rem solid #384653;
	border-radius: 2rem;
	background-color: transparent;
	color: #384653;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 0.125rem solid #384653;
	background-color: #384653;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.label-control {
	position: absolute;
	top: 1.0625rem;
	left: 2rem;
	color: #384653;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1.875rem;
	border: 1px solid #c4d8dc;
	border-radius: 2rem;
	background-color: #fff;
	color: #384653;
	font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.875rem;
	border: 1px solid #c4d8dc;
	border-radius: 0;
	background-color: #fff;
	color: #384653;
	font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.5rem;
	border: 0.125rem solid #ffc05a;
	border-radius: 2rem;
	background-color: #ffc05a;
	color: #384653;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 0.125rem solid #384653;
	background-color: transparent;
	color: #384653;
}

/* Form Success And Error Message Formatting */
#nmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center.tada.animated,
#nmsgSubmit.h3.text-center,
#cmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #ec2c3c;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1rem;
}

.help-block.with-errors .list-unstyled {
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-top: 0.375rem;
	margin-bottom: 0;
	color: #ec2c3c;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox - magnific popup */


/**********************/
/*     Navigation     */
/**********************/
.navbar-custom {
	background-color: #fc5d66;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 600 1rem/1rem "Open Sans", sans-serif;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 5.8125rem;
	height: 2.25rem;
}

.navbar-custom .navbar-brand.logo-text {
	color: #ffffff;
	font: 700 2rem/1rem "Open Sans", sans-serif;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.75rem 0.75rem;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #f9cecb;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle {
	cursor: default;
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #fc5d66;
}

.navbar-custom .dropdown-item {
	text-decoration: none;
	color: #ffffff;
	font: 600 1rem/1rem "Open Sans", sans-serif;
}

.navbar-custom .dropdown-item:hover {
	background-color: #fc5d66;
	color: #f9cecb;
}

.navbar-custom .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.75rem auto;
	border: none;
	background-color: #ffffff;
	opacity: 0.3;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: #ffffff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/******************/
/*     Header     */
/******************/
.header {
	position: relative;
	padding-top: 7rem;
	padding-bottom: 8rem;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header .text-container {
	margin-bottom: 4rem;
}

.header h1 {
	margin-bottom: 1rem;
	color: #ffffff;
}

.header .p-large {
	margin-bottom: 1.875rem;
	color: #ffffff;
}

.header .btn-solid-lg:hover {
	border: 0.125rem solid #ffffff;
	color: #ffffff;
}

.header .video-wrapper {
	position: relative;
}

/* Video Play Button */
.header .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.header .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	background: #fc5d66;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.header .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border-radius: 50%;
	background: #fc5d66;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.header .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #fff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}
  
@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* end of video play button */

.header .decoration-frame {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.25rem;
	margin-top: -1px; /* To remove white margin in FF */
}


/***********************/
/*     Description     */
/***********************/
.cards-1 {
	padding-top: 4rem;
	padding-bottom: 2rem;
	text-align: center;
}

.cards-1 h2 {
	margin-bottom: 1rem;
}

.cards-1 .p-large {
	margin-bottom: 4.25rem;
}

.cards-1 .card {
	margin-bottom: 2rem;
	border: 0;
	text-align: left;
}

.cards-1 .card a {
	text-decoration: none;
}

/* Hover Animation */
.cards-1 .card-image {
	overflow: hidden;
	border-radius: 0.25rem;
}

.cards-1 .card-image img {
	margin: 0;
	border-radius: 0.25rem;
	transition: all 0.3s;
}

.cards-1 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.cards-1 .card-body {
	padding: 0.875rem 0 0 0;
}


/**********************************/
/*     Description Lightboxes     */
/**********************************/
.lightbox-basic {
	position: relative;
	max-width: 35rem;
	margin: 2.5rem auto;
	padding: 2rem;
	border-radius: 0.25rem;
	background: #fff;
	text-align: left;
}

.lightbox-basic img {
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}

.lightbox-basic h3 {
	margin-bottom: 0.75rem;
}

.lightbox-basic .list-unstyled {
	margin-bottom: 1.75rem;
}

.lightbox-basic .list-unstyled .fas {
	color: #fc5d66;
	font-size: 0.875rem;
	line-height: 1.75rem;
}

.lightbox-basic .list-unstyled .media-body {
	margin-left: 0.375rem;
}

.lightbox-basic .btn-solid-reg {
	margin-bottom: 1rem;
}

/* Action Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	opacity: 1;
}
/* end of action Button */

/* Back Button */
.lightbox-basic .btn-outline-reg.mfp-close.as-button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	padding: 1.25rem 2.25rem 1.25rem 2.25rem;
	border: 0.125rem solid #333;
	color: #333;
	opacity: 1;
}

.lightbox-basic .btn-outline-reg.mfp-close.as-button:hover {
	color: #fff;
}
/* end of back button */

/* Close X Button */
.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -0.125rem;
	right: -0.125rem;
	width: 2.75rem;
	height: 2.75rem;
	color: #555;
}
/* end of close x button */


/********************/
/*     Chapters     */
/********************/
.cards-2 {
	padding-top: 1.75rem;
	padding-bottom: 4.5rem;
	text-align: center;
}

.cards-2 .card {
	margin-bottom: 3.5rem;
	padding: 3.125rem 1.375rem 2rem 1.375rem;
	border: none;
	background-color: #ffffff;
	box-shadow: 0 0.375rem 1.125rem 0 rgba(0, 0, 0, 0.1);
}

.cards-2 .card-title {
	margin-bottom: 0.375rem;
}

.cards-2 .card-image {
	margin-bottom: 1.75rem;
}

.cards-2 .card-image img {
	max-width: 7.75rem;
}

.cards-2 .card .fas {
	color: #e8505b;
	font-size: 3.5rem;
}

.cards-2 .card-body {
	padding: 0;
}


/*******************/
/*     Summary     */
/*******************/
.basic-1 {
	padding-top: 6.5rem;
	padding-bottom: 7.5rem;
	background-color: #f9fafb;
}

.basic-1 h2 {
	margin-bottom: 0;
	text-align: center;
}

.basic-1 .heading-container {
	margin-bottom: 2rem;
	text-align: center;
}

.basic-1 .text-container {
	padding: 2.5rem 1rem 2rem 1rem;
	border-radius: 0.25rem;
	background-color: #ffffff;
}

.basic-1 .chapter-title {
	margin-bottom: 1.375rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	padding-left: 1.5rem;
	background-color: #fc5d66;
	color: #ffffff;
}

.basic-1 .text-container p {
	color: #9a9eb1;
}

.basic-1 .text-container p a {
	text-decoration: none;
}

.basic-1 .free {
	color: #000;
}

.basic-1 .hr-summary {
	display: inline-block;
	width: 100%;
	height: 1px;
	margin-top: 0;
	border: none;
	background-color: #d7d7d7;
}


/********************/
/*     Audience     */
/********************/
.split .area-1 {
	height: 27rem;
	background: url('../images/influencer_2.jpg') center left no-repeat;
	background-size: cover;
}

.split .area-2 {
	padding-top: 6.5rem;
	padding-bottom: 7rem;
	background-color: #fc5d66;
}

.split h2 {
	margin-bottom: 0;
	color: #ffffff;
}

.split .hr-heading {
	margin-bottom: 1.375rem;
	background-color: #ffffff;
}

.split p {
	color: #ffffff;
}

.split .list-unstyled {
	margin-bottom: 1.75rem;
	color: #ffffff;
}

.split .list-unstyled .fas {
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.75rem;
}

.split .list-unstyled .media-body {
	margin-left: 0.375rem;
}

.split .btn-solid-reg:hover {
	border: 0.125rem solid #ffffff;
	color: #ffffff;
}


/*********************/
/*     Takeaways     */
/*********************/
.basic-2 {
	padding-top: 6.5rem;
	padding-bottom: 2rem;
}

.basic-2 h2 {
	text-align: center;
}

.basic-2 .takeaway-container {
	margin-bottom: 3.25rem;	
	padding: 1.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.375rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.basic-2 .takeaway-icon {
	margin-bottom: 0.625rem;
}

.basic-2 .takeaway-icon .fas {
	color: #fc5d66;
	font-size: 2rem;
	line-height: 2rem;
}


/*******************/
/*     Details     */
/*******************/
.basic-3 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/') center center no-repeat;
	background-size: cover;
}

.basic-3 .image-container {
	margin-bottom: 3rem;
}

.basic-3 h2 {
	margin-bottom: 0;
}

.basic-3 .hr-heading {
	margin-bottom: 1rem;
}

.basic-3 p {
	margin-bottom: 1.5rem;
}


/******************/
/*     Author     */
/******************/
.basic-4 {
	padding-top: 3.5rem;
	padding-bottom: 7.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/author-background.jpg') center center no-repeat;
	background-size: cover;
}

.basic-4 .text-container {
	margin-bottom: 3rem;
}

.basic-4 h2 {
	margin-bottom: 0;
}

.basic-4 .hr-heading {
	margin-bottom: 1rem;
}

.basic-4 .list-unstyled {
	margin-bottom: 1.5rem;
}

.basic-4 .list-unstyled .fas {
	color: #fc5d66;
	font-size: 0.875rem;
	line-height: 1.75rem;
}

.basic-4 .list-unstyled .media-body {
	margin-left: 0.375rem;
}


/*****************/
/*     About     */
/*****************/
.counter {
	padding-top: 6.5rem;
	padding-bottom: 6rem;
	/*background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/about-background.jpg') center center no-repeat;*/
	background-color: white;
	
	
	background-size: cover;
	text-align: center;
}

.counter .image-container {
	margin-bottom: 3rem;
}

.counter #counter {
	margin-bottom: 1rem;
}

.counter #counter .cell {
	display: inline-block;
	width: 6.25rem;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
	vertical-align: top;
}

.counter #counter .counter-value {
	color:black;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.625rem;
	vertical-align: middle;
}

.counter #counter .counter-info {
	margin-bottom: 0;
	color:black;
	font-size: 0.875rem;
	line-height: 1.5rem;
	vertical-align: middle;
}

.counter h4 {
	margin-bottom: 1.5rem;
	color: black;
}

.counter .btn-solid-reg:hover {
	border: 0.125rem solid #ffffff;
	color: #ffffff;
}


/************************/
/*     Testimonials     */
/************************/
.slider {
	padding-top: 7rem;
	padding-bottom: 3rem;
}

.slider .slider-container {
	position: relative;
}

.slider .swiper-container {
	position: static;
	width: 90%;
	text-align: center;
}

.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23585f63'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23585f63'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider .card-body {
	padding-bottom: 0;
}

.slider .testimonial-text {
	margin-bottom: 0.5rem;
}

.slider .testimonial-author {
	margin-bottom: 0;
}


/********************/
/*     Partners     */
/********************/
.basic-5 {
	padding-top: 3rem;
	padding-bottom: 3.5rem;
	text-align: center;
}

.basic-5 h4 {
	margin-bottom: 1.5rem;
}

.basic-5 img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 2.25rem;
	margin-right: auto;
	margin-bottom: 2.25rem;
	margin-left: auto;
}


/**********************/
/*     Newsletter     */
/**********************/
.form {
	padding-top: 2.25rem;
	padding-bottom: 7rem;
	text-align: center;
}


.form .text-container {
	position: relative;
	overflow: hidden;
	padding: 6.5rem 1rem 5.75rem 1rem;
	background-color: #f9fafb;
}

.form .envelope {
	position: absolute;
	right: -2rem;
	bottom: -3rem;
	width: 60%;
}

.form h2 {
	margin-bottom: 0.75rem;
}

.form .p-heading {
	margin-bottom: 3rem;
}

.form .label-control {
	left: 2.125rem;
}

.form .form-control-input {
	padding-left: 2rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 6.5rem;
	padding-bottom: 5.5rem;
	background-color: #272d35;
	text-align: center;
}

.footer a {
	color: #ffffff;
	text-decoration: none;
}

.footer h3 {
	margin-bottom: 1.875rem;
	color: #ffffff;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #272d35;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #fc5d66;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.5rem;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #272d35;
	text-align: center;
}

.copyright a {
	text-decoration: none;
	color: #8f868d;
}

.copyright .statement {
	color: #8f868d;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #0b0d0f url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #3d4550; 
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 7rem;
	padding-bottom: 3rem;
}

.ex-basic-1 .list-unstyled .fas {
	color: #fc5d66;
	font-size: 0.5rem;
	line-height: 1.75rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f3f6f9;
}

.ex-basic-1 .text-box .text-box-icon {
	color: #fc5d66;
	font-size: 2.5rem;
}

.ex-basic-1 .map-responsive {
	overflow: hidden;
	position: relative;
	margin-bottom: 3rem;
	padding-bottom: 56.25%;
	height: 0;
	border-radius: 0.25rem;
}

.ex-basic-1 .map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	border: none; 
}

.ex-cards-1 .card {
	margin-bottom: 1rem;
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #fc5d66;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #fff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h4 {
	margin-bottom: 0.25rem;
}

.ex-form-1 .form-group {
	margin-bottom: 1.75rem;
}

.ex-form-1 .label-control {
	top: 1.375rem;
	left: 2rem;
	font-size: 1rem;
}

.ex-form-1 .form-control-input:focus + .label-control,
.ex-form-1 .form-control-input.notEmpty + .label-control,
.ex-form-1 .form-control-textarea:focus + .label-control,
.ex-form-1 .form-control-textarea.notEmpty + .label-control {
	top: 0.25rem;
}

.ex-form-1 .form-control-input,
.ex-form-1 .form-control-textarea {
	background-color: #f3f6f9;
}

.ex-form-1 .form-control-input {
	padding-top: 1.5625rem;
	padding-bottom: 0.5625rem;
}

.ex-form-1 .form-control-textarea {
	padding-top: 1.5rem;
}

.ex-form-1 .form-control-submit-button {
	height: 4rem;
	border-radius: 2.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	.header .decoration-frame {
		height: 3.25rem;
	}
	/* end of header */
	
	
	/* Description */
	.cards-1 .card {
		display: inline-block;
		width: 19.375rem;
		margin-right: 1rem;
		margin-left: 1rem;
		vertical-align: top;
	}
	/* end of description */


	/* Chapters */
	.cards-2 .card {
		padding-right: 2.125rem;
		padding-left: 2.125rem;
	}
	/* end of chapters */


	/* Takeaways */
	.basic-2 .takeaway-container {
		padding: 2rem 2rem 1.125rem 2rem;
	}

	.basic-2 .takeaway-icon {
		display: inline-block;
		width: 2rem;
		margin-top: 0.5rem;
		margin-right: 1rem;
		margin-bottom: 0;
		vertical-align: top;
	}
	
	.basic-2 .takeaway-text {
		display: inline-block;
		width: 35.75rem;
	}
	/* end of takeaways */


	/* Testimonials */
	.slider .swiper-button-prev {
		left: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider .swiper-button-next {
		right: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of testimonials */


	/* Customers */
	.basic-5 img {
		display: inline-block;
		width: 6.25rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of customers */


	/* Newsletter */
	.form .envelope {
		right: -2rem;
		bottom: -4rem;
		width: 40%;
	}

	.form .form-group {
		max-width: 20rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.form .form-control-input {
		width: 20rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.form .form-control-submit-button {
		width: 9rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	/* end of newsletter */


	/* Extra Pages */
	.ex-header {
		padding-top: 10rem;
	}

	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}

	.ex-cards-2 .card {
		display: inline-block;
		margin-right: 0.625rem;
		margin-left: 0.625rem;
		vertical-align: top;
	}

	.ex-cards-3 .card {
		display: inline-block;
		margin-right: 1.25rem;
		margin-left: 1.25rem;
		vertical-align: top;
	}

	.ex-cards-3 .card .card-body {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.ex-cards-4 .card {
		display: inline-block;
		max-width: 20rem;
		margin-right: 1.25rem;
		margin-left: 1.25rem;
		vertical-align: top;
	}

	.ex-cards-4 .card .card-body {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.ex-cards-5 {
		text-align: center;
	}

	.ex-cards-5 .card {
		display: inline-block;
		max-width: 17.5rem;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		vertical-align: top;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	h1 {
		font-size: 3rem;
		line-height: 3.75rem;
	}

	.p-heading {
		width: 75%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		position: absolute;
		margin-top: 1.25rem;
		background-color: transparent;
		box-shadow: none;
	}
	
	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem;
	}
	
	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1.125rem;
		border-top: 1rem solid rgba(255, 255, 255, 0);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-divider {
		width: 84%;
	}

	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		width: 2em;
		margin-left: 0.25rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #fc5d66;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #ffffff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #ffffff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #fc5d66;
	}
	/* end of navigation */


	/* Header */
	.header {
		text-align: left;
	}

	.header .text-container {
		margin-top: 2.5rem;
	}

	.header .decoration-frame {
		height: 4.25rem;
	}
	/* end of header */


	/* Description */ 
	.cards-1 .card {
		width: 26.375rem;
		margin-right: 1.25rem;
		margin-left: 1.25rem;
	}

	.cards-1 .p-large {
		width: 50rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of description */ 


	/* Description Lightboxes */
	.lightbox-basic {
		max-width: 35rem;
	}

	.lightbox-basic .btn-solid-reg,
	.lightbox-basic .btn-outline-reg {
		margin-bottom: 0;
	}
	/* end of description lightboxes */


	/* Chapters */
	.cards-2 .card {
		display: inline-block;
		width: 17.125rem;
		margin-right: 1rem;
		margin-left: 1rem;
		vertical-align: top;
	}
	/* end of chapters */


	/* Summary */
	.basic-1 .text-container {
		width: 56.875rem;
		margin-right: auto;
		margin-left: auto;
		padding: 4.75rem 5.25rem 3rem 5.25rem;
	}

	.basic-1 .text-container p {
		margin-right: 1.375rem;
		margin-left: 1.375rem;
	}
	/* end of summary */


	/* Audience */
	.split {
		height: 41rem;
	}
	
	.split .area-1 {
		width: 50%;
		height: 100%;
		display: inline-block;
	}
	
	.split .area-2 {
		width: 50%;
		height: 100%;
		display: inline-block;
		padding-bottom: 0;
		vertical-align: top;
	}

	.split .area-2 .text-container {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of audience */


	/* Takeaways */
	.basic-2 .takeaway-container {
		display: inline-block;
		width: 26.875rem;
		margin-right: 1rem;
		margin-left: 1rem;
		vertical-align: top;
	}

	.basic-2 .takeaway-text {
		width: 19rem;
	}
	/* end of takeaways */


	/* Details */
	.basic-3 .image-container {
		margin-bottom: 0;
	}

	.basic-3 .text-container {
		margin-top: 5rem;
	}
	/* end of details */


	/* Author */
	.basic-4 .text-container {
		margin-top: 5rem;
		margin-bottom: 0;
	}
	/* end of author */


	/* About */
	.counter .image-container {
		margin-bottom: 0;
	}
	/* end of about */


	/* Partners */
	.basic-5 img {
		width: 8.5rem;
		margin-bottom: 2.5rem;
	}
	/* end of partners */


	/* Footer */
	.footer h3 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */


	/* Extra Pages */
	.navbar-custom.navbar-dark {
		margin-top: 0;
		background-color: #fc5d66;
	}

	.ex-cards-1 .card {
		display: inline-block;
		width: 18.5rem;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.ex-form-1 form {
		width: 43.125rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Header */
	.header {
		overflow: hidden;
		padding-top: 11.5rem;
		padding-bottom: 18rem;
	}

	.header .text-container {
		margin-top: 5.5rem;
		margin-right: 0.5rem;
	}

	.header h1 {
		font-size: 3.625rem;
		line-height: 4.375rem;
		letter-spacing: -0.4px;
	}

	.header .image-container {
		width: 42.125rem;
		height: 35.5625rem;
		margin-left: 4rem;
	}

	.header .decoration-frame {
		height: 9rem;
	}
	/* end of header */


	/* Description */
	.cards-1 {
		padding-top: 0.25rem;
	}

	.cards-1 .card {
		width: 16.125rem;
		margin-right: 0;
		margin-left: 0;
	}

	.cards-1 .card:nth-of-type(4n+2) {
		margin-right: 0.625rem;
		margin-left: 1.25rem;

	}

	.cards-1 .card:nth-of-type(4n+3) {
		margin-right: 1.25rem;
		margin-left: 0.625rem;

	}
	/* end of description */


	/* Chapters */
	.cards-2 .card {
		width: 20.875rem;
		margin-right: 0;
		margin-left: 0;
	}

	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 2.75rem;
		margin-left: 2.75rem;
	}
	/* end of chapters */


	/* Audience */
	.split {
		height: 37rem;
	}

	.split .area-2 .text-container {
		margin-right: 0;
		margin-left: 4rem;
		max-width: 30rem;
	}
	/* end of audience */


	/* Takeaways */
	.basic-2 .takeaway-container {
		width: 21.5rem;
		margin-right: 0;
		margin-left: 0;
	}
	
	.basic-2 .takeaway-container:nth-of-type(3n+2) {
		margin-right: 2.125rem;
		margin-left: 2.125rem;
	}
	
	.basic-2 .takeaway-text {
		width: 13.5rem;
	}
	/* end of takeaways */


	/* Details */
	.basic-3 .image-container {
		margin-right: 2.5rem;
	}

	.basic-3 .text-container {
		margin-top: 7rem;
		margin-left: 2rem;
	}
	/* end of details */


	/* Author */
	.basic-4 .image-container {
		margin-left: 2.5rem;
	}

	.basic-4 .text-container {
		margin-top: 7rem;
		margin-right: 2rem;
	}
	/* end of author */


	/* About */
	.counter .text-container {
		margin-left: 2rem;
	}

	.counter #counter {
		margin-top: 5.5rem;
	}

	.counter #counter .cell {
		width: 5.75rem;
		margin-right: 1.125rem;
		margin-left: 1.125rem;
	}
	
	.counter #counter .cell:first-of-type {
		margin-left: 0;
	}

	.counter #counter .cell:last-of-type {
		margin-right: 0;
	}
	/* end of about */


	/* Partners */
	.basic-5 {
		padding-bottom: 2rem;
	}

	.basic-5 img {
		width: 9.625rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of partners */


	/* Newsletter */
	.form .envelope {
		right: -2rem;
		bottom: -4rem;
		width: 30%;
	}
	/* end of newsletter */


	/* Extra Pages */
	.container-sm-width {
		width: 53rem;
	}

	.ex-cards-1 .card {
		width: 21rem;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

	.ex-cards-5 .card {
		max-width: 19.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */